/* 
 * Custom variables
 */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1320px
);

// Global variables
// ========================================================================
// stylelint-disable

//
// Typography
//
$font-family-base: "arcon", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$font-weight-bold: 700;
$line-height-base: 1.2;

$link-decoration: none;
$link-hover-decoration: none;

//
// Colors
//
$body-bg: #ffffff;
$body-color: #000000;

// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #1e87f0;
$indigo:  #353080 !default;
$purple:  #6f42c1 !default;
$pink:    #ff6070;
$red:     #ee4858;
$orange:  #ffae6d !default;
$yellow:  #ffcb04;
$green:   #28a745 !default;
$teal:    #00a199 !default;
$cyan:    #0f88bd;

$lila:    #9e1f63;

$colors: () !default;
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      #ffffff,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$theme-colors: (
  "red": $red,
  "yellow": $yellow
);
$theme-colors: map-remove($theme-colors, "primary", "secondary", "success", "info", "danger", "warning", "light", "dark");

// Materials code colors
$mat-p: $cyan;
$mat-k: $red;
$mat-m: $yellow;
$mat-n: $green;
$mat-h: $gray-600;
$mat-s: $orange;

$link-color: $cyan;
$link-hover-color: darken($link-color, 15%);

$item-hover-color: mix($yellow, $white, 50%);

//
// Backgrounds
//
$global-muted-background: #f0f0f0;

//
// Options
//
$enable-shadows: true;

//
// Borders
//

//
// Spacings
//
$spacer: 1rem;
$grid-gutter-width: 30px;

$grid-columns: 24;

$headings-margin-bottom: ($spacer * 0.5);
$paragraph-margin-bottom: 1rem;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$btn-box-shadow: none;

$input-btn-padding-y:         .2rem !default;
$input-btn-padding-x:         .4rem !default;
