// Variables
// ========================================================================

$container-padding-horizontal:           15px !default;
$container-padding-horizontal-s:         $global-gutter !default;
$container-padding-horizontal-m:         $global-medium-gutter !default;

/* ========================================================================
   Component: Container
 ========================================================================== */

@mixin block-center() {
  margin-left: auto;
  margin-right: auto;
}

@mixin container() {  
  padding-left: $container-padding-horizontal;
  padding-right: $container-padding-horizontal;

  @include media-breakpoint-up(sm) {
    padding-left: $container-padding-horizontal-s;
    padding-right: $container-padding-horizontal-s;
  }
  
  @include media-breakpoint-up(md) {
    padding-left: $container-padding-horizontal-m;
    padding-right: $container-padding-horizontal-m;
  }
}

@mixin container-md() {
  @include container();
  @include block-center();

  max-width: map-get($grid-breakpoints, 'md');
}

@mixin container-lg() {
  @include container();

  max-width: map-get($grid-breakpoints, 'lg');

  margin-left: auto;
  margin-right: 0;

  @media screen and (min-width: 1600px) {
    margin-right: auto;
  }
}

@mixin container-xl() {
  @include container();
  @include block-center();

  max-width: map-get($grid-breakpoints, 'xl');
}
