// Variables
// ========================================================================

$grid-padding-horizontal-xs: 15px !default;
$grid-padding-horizontal-s: $global-gutter !default; // 30px;
$grid-padding-horizontal-m: $global-medium-gutter !default; // 60px;

/* ========================================================================
   Component: Grid
 ========================================================================== */
@mixin grid-gutter(
  $gutter-value-xs: $grid-padding-horizontal-xs,
  $gutter-value-s: $grid-padding-horizontal-s,
  $gutter-value-m: $grid-padding-horizontal-m
) {
  margin-left: -($gutter-value-xs);

  @include media-breakpoint-up(sm) {
    margin-left: -($gutter-value-s);
  }

  @include media-breakpoint-up(md) {
    margin-left: -($gutter-value-m);
  }

  & > * {
    padding-left: $gutter-value-xs;

    @include media-breakpoint-up(sm) {
      padding-left: $gutter-value-s;
    }

    @include media-breakpoint-up(md) {
      padding-left: $gutter-value-m;
    }
  }
}

@mixin grid-gutter-parent(
  $gutter-value-xs: $grid-padding-horizontal-xs,
  $gutter-value-s: $grid-padding-horizontal-s,
  $gutter-value-m: $grid-padding-horizontal-m
) {
  margin-left: -($gutter-value-xs);

  @include media-breakpoint-up(sm) {
    margin-left: -($gutter-value-s);
  }

  @include media-breakpoint-up(md) {
    margin-left: -($gutter-value-m);
  }
}

@mixin grid-gutter-child(
  $gutter-value-xs: $grid-padding-horizontal-xs,
  $gutter-value-s: $grid-padding-horizontal-s,
  $gutter-value-m: $grid-padding-horizontal-m
) {
  padding-left: $gutter-value-xs;

  @include media-breakpoint-up(sm) {
    padding-left: $gutter-value-s;
  }

  @include media-breakpoint-up(md) {
    padding-left: $gutter-value-m;
  }
}
