// Font-faces
@font-face {
  font-family: 'arcon';
  src: url('/fonts/arcon-bold.eot');
  src: url('/fonts/arcon-bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/arcon-bold.woff2') format('woff2'),
       url('/fonts/arcon-bold.woff') format('woff'),
       url('/fonts/arcon-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'arcon';
  src: url('/fonts/arcon-bolditalic.eot');
  src: url('/fonts/arcon-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/arcon-bolditalic.woff2') format('woff2'),
       url('/fonts/arcon-bolditalic.woff') format('woff'),
       url('/fonts/arcon-bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'arcon';
  src: url('/fonts/arcon-italic.eot');
  src: url('/fonts/arcon-italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/arcon-italic.woff2') format('woff2'),
       url('/fonts/arcon-italic.woff') format('woff'),
       url('/fonts/arcon-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'arcon';
  src: url('/fonts/arcon-regular.eot');
  src: url('/fonts/arcon-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/arcon-regular.woff2') format('woff2'),
       url('/fonts/arcon-regular.woff') format('woff'),
       url('/fonts/arcon-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
