// Variables
// ========================================================================

$container-padding-horizontal:           $grid-gutter-width * 0.5;
$container-padding-horizontal-s:         $grid-gutter-width !default;
$container-padding-horizontal-m:         $grid-gutter-width * 2 !default;

/* ========================================================================
   Component: Container
 ========================================================================== */

%block-center {
  margin-left: auto;
  margin-right: auto;
}

%container-common {  
  padding-left: $container-padding-horizontal;
  padding-right: $container-padding-horizontal;

  @include media-breakpoint-up(sm) {
    padding-left: $container-padding-horizontal-s;
    padding-right: $container-padding-horizontal-s;
  }
  
  @include media-breakpoint-up(md) {
    padding-left: $container-padding-horizontal-m;
    padding-right: $container-padding-horizontal-m;
  }

  @media print {
    padding-left: 0;
    padding-right: 0;
  }
}

/* %container-md {
  @extend %container-common;
  @extend %block-center;

  max-width: map-get($grid-breakpoints, 'md');
} */

.container-lg {
  @extend %container-common;
  @extend %block-center;

  max-width: map-get($grid-breakpoints, 'lg');
}

.container,
.container-xl {
  @extend %container-common;
  @extend %block-center;

  max-width: map-get($grid-breakpoints, 'xl');
}

.container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @include clearfix();
}

@include media-breakpoint-up(lg) {
  .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
