.footer {
    @extend %section-top;
    
    background: $global-muted-background;
    position: relative;

    .menu {
        padding: 0 0 6rem;

        li {
            display: inline-block;
            margin-right: 1rem;
            padding: .75rem 1rem;

            a {
                display: block;
                color: #000000;
                border-bottom: 1px solid fade_out($cyan, .5);
                line-height: 1.3;
            }
            a:hover {
                color: $cyan;
                border-bottom: 1px solid $yellow;
            }
        }
    }
}
