.root {
    border-top: 4px solid $cyan;
}

.nav-header {
    border-bottom: 1px solid rgba($cyan, .2);
}
  
.nav {
    display: flex;
    padding-top: 1.5rem;
  
    @extend %container-xl;
}

.logo-link {
    padding-bottom: .25rem;
}
  
.logo {
    margin-right: 2rem;
  
    @include media-breakpoint-up(md) {
        margin-left: -32px;
    }
}

.block {
    @extend %section;
    @extend %container-xl;
}

.row {
    @extend %grid-row-wrap;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-5 {
    flex: 1 1 20%;
    max-width: 20%;
}
