.root {
    border-top: 4px solid $cyan;
}

.nav-header {
    border-bottom: 1px solid rgba($cyan, .2);
}
  
.nav {
    display: flex;
    padding-top: 1.5rem;
  
    @extend %container-xl;
}

.logo-link {
    padding-bottom: .25rem;
}
  
.logo {
    margin-right: 2rem;
  
    @include media-breakpoint-up(md) {
        margin-left: -32px;
    }
}

.row {
    @extend %grid-row-wrap;
}
