.mat-main,
.mat-possible {
    display: inline-block;
    padding: .1rem .75rem;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: .5rem;
    margin-bottom: .5rem;
    cursor: default;
}

.mat-main {
    color: $white;

    &.mat-p {
        background: $cyan;
    }
  
    &.mat-k {
        background: $red;
    }
  
    &.mat-m {
        background: $yellow;
    }

    &.mat-n, &.mat-n1, &.mat-n3 {
        background: $green;
    }

    &.mat-h, &.mat-h1-1, &.mat-h1-1 {
        background: $gray-600;
    }

    &.mat-s {
        background: $orange;
    }
}

.mat-possible {
    background: $white;
    border-width: 2px;
    border-style: solid;

    &.mat-p {
        border-color: $cyan;
        color: $cyan;
    }
  
    &.mat-k {
        border-color: $red;
        color: $red;
    }
  
    &.mat-m {
        border-color: $yellow;
    }

    &.mat-n, &.mat-n1, &.mat-n3 {
        border-color: $green;
        color: $green;
    }

    &.mat-h, &.mat-h1-1, &.mat-h1-2 {
        border-color: $gray-600;
        color: $gray-600;
    }

    &.mat-s {
        border-color: $orange;
        color: $orange;
    }
}

@media print {
    .mat-main {
        color: #ffffff !important;
        background: $gray-600 !important;
    }
    .mat-possible {
        color: $gray-600 !important;
        border: 2px solid $gray-600 !important;
    }
}