.mat-main,
.mat-possible {
    display: inline-block;
    padding: .1rem .75rem;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: .5rem;
    margin-bottom: .5rem;
    cursor: default;
}

.mat-chip-sm {
    display: inline;
    padding: .05rem .5rem;
    border-radius: 4px;
    font-size: .75rem;
    text-transform: uppercase;
    margin-right: .1rem;
}

.mat-main {
    color: $white;

    &.mat-p {
        background: $mat-p;
    }
  
    &.mat-k {
        background: $mat-k;
    }
  
    &.mat-m {
        background: $mat-m;
    }

    &.mat-n, &.mat-n1, &.mat-n3 {
        background: $mat-n;
    }

    &.mat-h, &.mat-h1-1, &.mat-h1-1 {
        background: $mat-h;
    }

    &.mat-s {
        background: $mat-s;
    }
}

.mat-possible {
    background: $white;
    border-width: 2px;
    border-style: solid;

    &.mat-p {
        border-color: $mat-p;
        color: $mat-p;
    }
  
    &.mat-k {
        border-color: $mat-k;
        color: $mat-k;
    }
  
    &.mat-m {
        border-color: $mat-m;
    }

    &.mat-n, &.mat-n1, &.mat-n3 {
        border-color: $mat-n;
        color: $mat-n;
    }

    &.mat-h, &.mat-h1-1, &.mat-h1-2 {
        border-color: $mat-h;
        color: $mat-h;
    }

    &.mat-s {
        border-color: $mat-s;
        color: $mat-s;
    }
}

@media print {
    .mat-main {
        color: #ffffff !important;
        background: $gray-600 !important;
    }
    .mat-possible {
        color: $gray-600 !important;
        border: 2px solid $gray-600 !important;
    }
}
