.mat-chip,
.mat-chip-sm {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    line-height: 1;
}

.mat-chip {
    display: inline-block;
    padding: .1rem .75rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    cursor: default;
}

.mat-chip-sm {
    display: inline;
    padding: 0 .5rem;
    font-size: .75rem;
    margin-right: .1rem;
}

.mat-main {
    color: $white;

    &.mat-p {
        border-color: $mat-p;
        background: $mat-p;
    }
  
    &.mat-k {
        border-color: $mat-k;
        background: $mat-k;
    }
  
    &.mat-m {
        border-color: $mat-m;
        background: $mat-m;
    }

    &.mat-n {
        border-color: $mat-n;
        background: $mat-n;
    }

    &.mat-h {
        border-color: $mat-h;
        background: $mat-h;
    }

    &.mat-s {
        border-color: $mat-s;
        background: $mat-s;
    }
}

.mat-possible {
    background: $white;    

    &.mat-p {
        border-color: $mat-p;
        color: $mat-p;
    }
  
    &.mat-k {
        border-color: $mat-k;
        color: $mat-k;
    }
  
    &.mat-m {
        border-color: $mat-m;
        color: darken($mat-m, 10%);
    }

    &.mat-n {
        border-color: $mat-n;
        color: $mat-n;
    }

    &.mat-h {
        border-color: $mat-h;
        color: $mat-h;
    }

    &.mat-s {
        border-color: $mat-s;
        color: $mat-s;
    }
}

@media print {
    body .mat-chip-sm.mat-main,
    body .mat-chip.mat-main {
        color: #ffffff !important;
        background: $gray-600 !important;
        border-color: $gray-600 !important;
    }
    body .mat-chip-sm.mat-possible,
    body .mat-chip.mat-possible {
        color: $gray-600 !important;
        border: 2px solid $gray-600 !important;
    }
}
