// Global menu style

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;

  list-style-type: none;
  padding: 0;
}

.menu--vertical {
  flex-direction: column;
}

.menu--submenu {
  margin: 1rem 0 0.5rem;
  padding-bottom: 2rem;
  max-width: 1024px;
}

.menu-link {
  display: block;
  cursor: pointer;
  color: $link-color;

  &:hover .menu-link__u {
    color: $link-hover-color;
    border-bottom: 1px solid $red;
  }

  &.active {
    color: $red;
  }

  &.active--exact,
  &.active--exact:hover {
    color: $red;
    cursor: default;

    .menu-link__u {
      color: $red;
      border: 0;
    }
  }
}

.menu-link__u {
  border-bottom: 1px solid rgba($cyan, 0.25);
}

.menu-link__dashed {
  border-bottom: 1px dashed rgba($cyan, 0.5);
}

.menu-link--bold {
  font-weight: $font-weight-bold;
}
