.menu {
    @extend %grid-row-wrap;

    list-style-type: none;
    padding: 0;
  
    li {
        margin-right: 1.5rem;
        padding: 0;

        a {
            display: block;
        }
    }

    /* span {
        border-bottom: 1px solid rgba($cyan, .2)
    } */

    .active {
        color: $red;
    }
}

.submenu {
    margin: 1rem 0;
  
    li {
        margin-bottom: .75rem;
    }
  
    a {
        color: darken($cyan, 10%);
        border-bottom: 1px solid rgba(darken($cyan, 10%), .25);
    
        &:hover {
            color: $link-hover-color;
            border-bottom: 1px solid $red;
        }
    }
}