.menu {
    @extend %grid-row-wrap;

    list-style-type: none;
    padding: 0;
  
    li {
        margin-right: 1.5rem;
        padding: 0;

        a {
            display: block;
        }
    }

    span {
        border-bottom: 1px solid rgba($cyan, .2)
    }

    .active {
        color: $red;
    }
}
