/* ========================================================================
   Component: Section
 ========================================================================== */
.section {
    @include section();
}
  
.section-top {
    @include section-top();
}
  
.section-bottom {
    @include section-bottom();
}
  

.section-sm {
    padding-top: 10px;
    padding-bottom: 20px;
}