/* ========================================================================
   Component: Section
 ========================================================================== */
.block {
    @extend %section;
    @extend %container-xl;
}

.section-sm {
    padding-top: 10px;
    padding-bottom: 20px;
}
