/* ========================================================================
   Component: Spacing
 ========================================================================== */
.cnt {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @include clearfix();
  @extend %container-xl;
}

.pt {
  padding-top: 1.5rem;
}

.pb {
  padding-bottom: 1.5rem;
}

.py-sm {
  padding-top: 10px;
  padding-bottom: 20px;
}

.pt-sm {
  padding-top: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3.5rem;
}

@include media-breakpoint-up(lg) {
  .cnt {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .pt {
    padding-top: 3rem;
  }

  .pb {
    padding-bottom: 3rem;
  }
}
