/* ========================================================================
   Component: Spacing
 ========================================================================== */
.pt {
  padding-top: 1.5rem;
}

.pb {
  padding-bottom: 1.5rem;
}

.py-sm {
  padding-top: 10px;
  padding-bottom: 20px;
}

.pt-sm {
  padding-top: 1.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 2.75rem;
}

.mb-4 {
  margin-bottom: 3.5rem;
}

@include media-breakpoint-up(lg) {
  .pt {
    padding-top: 3rem;
  }

  .pb {
    padding-bottom: 3rem;
  }
}
