/* ========================================================================
   Component: Spacing
 ========================================================================== */
.cnt {
    @extend %spacing;
    @extend %container-xl;
}

.py {
    @extend %spacing;
}

.pt {
    @extend %spacing-top;
}

.py-sm {
    padding-top: 10px;
    padding-bottom: 20px;
}
