.svg-scheme {
  text {
    font-size: 2.2rem;
    text-anchor: middle;

    &.anchor-start {
      text-anchor: start;
    }

    &.anchor-end {
      text-anchor: end;
    }
  
    tspan {
      font-size: 1.6rem;
    }
  }
}

.icon-attr {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;

  cursor: default;
}
