.series-scheme img {
  margin-bottom: 3rem;
}

@include media-breakpoint-up(md) {
  .series-scheme {
    max-width: 35%;
    flex: 0 0 35%;
    padding-right: 3rem;
    padding-top: 3rem;
  }

  .product-items-table {
    max-width: 65%;
    flex: 0 0 65%;
  }
}
